@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div class="intro-box">
    <h1>Design Interior  !</h1>
    <p>Punem accent pe calitate, funcționalitate și estetică modernă, adaptate nevoilor tale.</p>
    <p>Oferim servicii complete de consultanță, proiectare și implementare, colaborând cu parteneri de încredere și respectând bugetul tău. Împreună transformăm ideile în spații care inspiră zi de zi.</p>
</div>










